<h2><%= @vendor.name %></h1>
<h3>Contact Info:</h3>
<p> Contact Name: <%= @vendor.contact_name %></p>
<p> Phone: <%= @vendor.phone %></p><br/><br/>
<p> Credit Accepted? <%= @vendor.credit %></p><br/><br/>
<p> Description: <%= @vendor.description %></p>
